<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>highligher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="highligher">
    <meta name="author" content="Janos Gyerik info@janosgyerik.com">

    <!-- Le styles -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/gmaptools.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">highlighter</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid" id="main-content">
        <div class="span3">
          <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#keywords" data-toggle="tab">Keywords</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="keywords">
                    <div class="row-fluid">
                        <div class="span10">
                            <input type="text" placeholder="enter keyword..." class="keyword">
                        </div>
                    </div>
                    <ul id="keyword-list" class="unstyled">
                    </ul>
                </div>
            </div>
          </div><!--/.tabbable -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
              <div class="tabbable">
                <ul class="nav nav-tabs" id="toolbar">
                    <li class="active"><a href="#original-tab" data-toggle="tab">Original</a></li>
                    <li><a href="#highlighted-tab" data-toggle="tab">Highlighted</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="original-tab">
                        <form class="form-inline">
                            <textarea rows="10" class="span6 text" placeholder="Paste your text here..."></textarea>
                        </form>
                    </div>
                    <div class="tab-pane" id="highlighted-tab">
                        <div class="html"></div>
                    </div>
                </div>
              </div><!--/.tabbable -->
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Janos Gyerik 2012</p>
      </footer>

    </div><!--/.fluid-container-->

<!-- TODO: this should be moved to a file to serve via CDN -->
<script type="text/template" id="keyword-template">
    <div class="view">
        <span><%- keyword %></span>
        <span class="badge pull-right"><%- count %></span>
        <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%= keyword %>" />
</script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    -->
    <script src="static/js/jquery-1.8.0.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/backbone-min.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/js/highlighter.backbone.js"></script>

  </body>
</html>
