/* 
 * File: css/highlighter.css
 * Purpose: Custom stylesheet for highlighter
 *
 * */

#keyword-list li.editing .edit {
    display: block;
}

#keyword-list li.editing .view {
    display: none;
}

#keyword-list li .edit {
    display: none;
}

#keyword-list .keyword {
    font-size: large;
}


/* eof */
