/* 
 * File: css/highlighter.css
 * Purpose: Custom stylesheet for highlighter
 *
 * */

#keyword-list li.editing .edit {
    display: block;
}

#keyword-list li.editing .view {
    display: none;
}

#keyword-list li .edit {
    display: none;
}

#keyword-list .keyword {
    font-size: large;
}

pre.highlighted em {
    font-style: normal;
    background-color: #f00;
}

pre.highlighted em.h1 {
    background-color: #ff0;
}

pre.highlighted em.h2 {
    background-color: #6f0;
}

pre.highlighted em.h3 {
    background-color: #9c0;
}

pre.highlighted em.h4 {
    background-color: #c90;
}

pre.highlighted em.h5 {
    background-color: #f60;
}

pre.highlighted em.h6 {
    background-color: #699;
}

pre.highlighted em.h7 {
    background-color: #0f6;
}

pre.highlighted em.h8 {
    background-color: #3c6;
}

pre.highlighted em.h9 {
    background-color: #696;
}

pre.highlighted em.h10 {
    background-color: #f96;
}

pre.highlighted em.h11 {
    background-color: #c36;
}

pre.highlighted em.h12 {
    background-color: #f06;
}

pre.highlighted em.h13 {
    background-color: #0fc;
}

pre.highlighted em.h14 {
    background-color: #3cc;
}

pre.highlighted em.h15 {
    background-color: #69c;
}

pre.highlighted em.h16 {
    background-color: #96c;
}

pre.highlighted em.h17 {
    background-color: #c3c;
}

pre.highlighted em.h18 {
    background-color: #f0c;
}

pre.highlighted em.h19 {
    background-color: #ccc;
}

pre.highlighted em.h20 {
    background-color: #999;
}

/* eof */
